<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <!-- Bootstrap CSS (CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<header>
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand">Prok</a>
            <div>
                <a class="icon-link" th:href="@{/logout}">
                    Logout
                </a>
                <a class="icon-link" th:href="@{/user}">
                    My Account
                </a>
            </div>
        </div>
    </nav>
</header>
<main class="main-container">
    <div class="bg-filter hidden"></div>
    <button id="open-create-class-form-btn" class="btn btn-primary center">Create Task</button>
    <section class="task-form task-create-form hidden">
        <button id="close-create-class-form-btn" class="btn btn-outline-danger">
            <i class="fas fa-xmark"></i>
        </button>
        <h2 class="text-center mb-4">Add a new Task!</h2>
        <form th:action="@{/api/v1/users/{userId}/tasks(userId=${userId})}" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" name="description" id="description">
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </section>
    <!--/*@thymesVar id="successMessage" type=""*/-->
    <div id="successMessage" th:if="${successMessage}" class="alert alert-success">
        <span th:text="${successMessage}"></span>
        <button onclick="closeMessage()" class="close-btn">&times;</button>
    </div>
    <section class="task-list">
        <h2 class="text-center mb-4">Your Tasks</h2>
        <p class="text-center" th:text="'Number of tasks: ' + ${numberOfTasks}"></p>
        <ul class="list-group" th:each="task: ${tasks}">
            <li class="list-group-item task-item">
                <form class="form-check" th:action="@{/{taskId}/completed(taskId=${task.id})}" th:method="post">
                    <input type="hidden" name="_method" value="put">
                    <input th:if="${(task.getFinishedAt() == null)}"
                           class="form-check-input"
                           type="checkbox"
                           name="completed"
                           value="true"
                           th:id="${'checkbox_' + task.id}"
                           onchange="this.form.submit()">
                    <input th:if="${!(task.getFinishedAt() == null)}"
                           class="form-check-input"
                           type="checkbox"
                           name="completed"
                           value="true"
                           th:id="${'checkbox_' + task.id}"
                           checked
                           onchange="this.form.submit()">
                    <label class="form-check-label" th:for="${'checkbox_' + task.id}" th:text="${task.title}"></label>
                </form>
                <div class="btn-group">
                    <form th:action="@{/api/v1/users/{userId}/tasks/{taskId}(userId=${userId}, taskId=${task.id})}" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button class="btn btn-danger" th:id="${'delete-' + task.id}">Delete</button>
                    </form>
                    <button class="btn btn-outline-primary" th:id="${'update-' + task.id}">Update</button>
                </div>
                <div class="task-form task-update-form hidden" th:id="'task-update-form-' + ${task.id}">
                    <button th:id="'close-update-btn-' + ${task.id}" class="btn btn-outline-danger">
                        <i class="fas fa-xmark"></i>
                    </button>
                    <h2 class="text-center mb-4">Update task!</h2>
                    <form th:action="@{/{userId}/tasks/{taskId}(userId=${userId}, taskI=${task.id})}" method="post">
                        <input type="hidden" name="_method" value="put">
                        <div class="mb-3">
                            <label for="title" class="form-label">Id</label>
                            <input class="form-control" name="id" th:value="${task.id}" readonly />
                        </div>
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" name="title" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" name="description">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
        <div class="alert alert-info text-center" role="alert" th:if="${numberOfTasks == 0}">
            No task pending.
        </div>
    </section>
</main>
<footer class="text-center mt-4">
    &copy; Coded by <a href="https://joaquinogallar.github.io/" target="_blank">Joaquin Ogallar</a>
</footer>
<script>
    setTimeout(function() {
        let message = document.getElementById("successMessage");
        if (message) {
            message.style.display = "none";
        }
    }, 2000);

    function closeMessage() {
        let message = document.getElementById("successMessage");
        if (message) {
            message.style.display = "none";
        }
    }

    let $openCreateTaskFormBtn = document.getElementById('open-create-class-form-btn');
    let $closeCreateTaskFormBtn = document.getElementById('close-create-class-form-btn');
    let $taskFrom = document.querySelector('.task-create-form');
    let $bgFilter = document.querySelector('.bg-filter');

    $openCreateTaskFormBtn.addEventListener("click", () => {
        $taskFrom.classList.remove('hidden');
        $bgFilter.classList.remove('hidden');
    })

    $closeCreateTaskFormBtn.addEventListener("click", () => {
        $taskFrom.classList.add('hidden');
        $bgFilter.classList.add('hidden');
    })

    const $openUpdateTaskFormBtns = document.querySelectorAll('[id^="update-"]');
    const $closeUpdateTaskFromBtns = document.querySelectorAll('[id^="close-update-btn-"]');

    $openUpdateTaskFormBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
            const id = btn.id.split("update-")[1];
            const form = document.getElementById(`task-update-form-${id}`);

            if(form) {
                form.classList.remove('hidden');
            }

            if ($bgFilter) {
                $bgFilter.classList.remove('hidden');
            }
        })
    })

    $closeUpdateTaskFromBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
            const id = btn.id.split("close-update-btn-")[1];
            const form = document.getElementById(`task-update-form-${id}`);

            if(form) {
                form.classList.add('hidden');
            }
            if ($bgFilter) {
                $bgFilter.classList.add('hidden');
            }
        })
    })
</script>
</body>
</html>